[submodule "main/lib/ADC"]
	path = main/lib/ADC
	url = https://github.com/pedvide/ADC.git
[submodule "main/lib/TeencyStepper4"]
	path = main/lib/TeencyStepper4
	url = https://github.com/luni64/TeensyStep4.git
